<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PindurTI_Debugger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PindurTI_Debugger.Properties.Settings>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseGreyscale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Stretch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLcdColours" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LcdDarkest" serializeAs="String">
                <value>3355443</value>
            </setting>
            <setting name="LcdLightest" serializeAs="String">
                <value>13426895</value>
            </setting>
            <setting name="UseLcdPixels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScaleMode" serializeAs="String">
                <value>1</value>
            </setting>
        </PindurTI_Debugger.Properties.Settings>
    </userSettings>
</configuration>