<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Latenite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Latenite.Properties.Settings>
            <setting name="EditorFont" serializeAs="String">
                <value>Lucida Console, 8.25pt</value>
            </setting>
            <setting name="IDE_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Editor_Back_Colour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Editor_Text_Colour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="IDE_WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="Project_Filter" serializeAs="String">
                <value>*.asm;*.z80;*.inc;*.cmd;*.txt;*.debug</value>
            </setting>
            <setting name="Syntax_Directive" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="Syntax_Z80" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="Syntax_Routine" serializeAs="String">
                <value>DarkViolet</value>
            </setting>
            <setting name="Syntax_String" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="Syntax_Comment" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="Syntax_Label" serializeAs="String">
                <value>0, 0, 192</value>
            </setting>
            <setting name="Syntax_Register" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="Editor_Syntax_Files_To_Highlight" serializeAs="String">
                <value>*.asm;*.z80;*.inc</value>
            </setting>
            <setting name="Editor_AutoIndent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Editor_AutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Editor_CRLF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IDE_Multiple_Tabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Debug_Breakpoint_Back" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="Debug_Current_Fore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Debug_Current_Back" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Debug_Breakpoint_Fore" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="IDE_Output_Size" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="IDE_Help_Size" serializeAs="String">
                <value>320</value>
            </setting>
        </Latenite.Properties.Settings>
    </userSettings>
</configuration>